<div class="form-group">
  <label for="filtroSectoresCNAE"><b>Sectores CNAE*</b></label>

  <select class="simple-select2 custom-select w-100 select2-hidden-accessible" id="filtroSectoresCNAE" name="cnae[]" multiple="multiple" data-select2-id="filtroSectoresCNAE" tabindex="-1" aria-hidden="true">
    <option value="A">Agricultura, ganadería, silvicultura y pesca (A)</option>
    <option value="B">Industrias extractivas (B)</option>
    <option value="C">Industria manufacturera (C)</option>
    <option value="D">Suministro de energía eléctrica, gas, vapor y aire acondicionado (D)</option>
    <option value="E">Suministro de agua, actividades de saneamiento, gestión de residuos y descontaminación (E)</option>
    <option value="F">Construcción (F)
    </option>
    <option value="G">Comercio al por mayor y al por menor; reparación de vehículos de motor y motocicletas (G)</option>
    <option value="H">Transporte y almacenamiento (H)</option>
    <option value="I">Hostelería (I)</option>
    <option value="J">Información y comunicaciones (J)</option>
    <option value="K">Actividades financieras y de seguros (K)</option>
    <option value="L">Actividades inmobiliarias (L)</option>
    <option value="M">Actividades profesionales, científicas y técnicas (M)</option>
    <option value="N">Actividades administrativas y servicios auxliares (N)</option>
    <option value="O">Administración Pública y defensa; Seguridad Social obligatoria (O)</option>
    <option value="P">Educación (P)</option>
    <option value="Q">Actividades sanitarias y de servicios sociales (Q)</option>
    <option value="R">Actividades artísticas, recreativas y de entrenimiento (R)</option>
    <option value="S">Otros servicios (S)</option>
    <option value="T">Actividades de los hogares como empleadores de personal doméstico; actividades de los hogares como productores de bienes y servicios para uso propio (T)</option>
    <option value="U">Actividades de organizaciones y organismos extraterritoriales (U)</option>
  </select>

</div>
