<h4>.container</h4>
<div class="container ejemplo">
  <div class="row">
    <div class="col">1 de 2 (.col)</div>
    <div class="col">2 de 2 (.col)</div>
  </div>
  <div class="row">
    <div class="col">1 de 3 (.col)</div>
    <div class="col">2 de 3 (.col)</div>
    <div class="col">3 de 3 (.col)</div>
  </div>
  <div class="row">
    <div class="col-7">1 de 3 (.col-7)</div>
    <div class="col">2 de 3 (.col)</div>
    <div class="col">3 de 3 (.col)</div>
  </div>
  <div class="row">
    <div class="col-7">1 de 4 (.col-7)</div>
    <div class="col">2 de 4 (.col)</div>
    <div class="col">3 de 4 (.col)</div>
    <div class="col">4 de 4 (.col)</div>
  </div>
</div>

<h4 class="pt-5">.container_fluid</h4>
<div class="container-fluid ejemplo">
  <div class="row">
    <div class="col">1 de 2 (.col)</div>
    <div class="col">2 de 2 (.col)</div>
  </div>
  <div class="row">
    <div class="col">1 de 3 (.col)</div>
    <div class="col">2 de 3 (.col)</div>
    <div class="col">3 de 3 (.col)</div>
  </div>
  <div class="row">
    <div class="col-7">1 de 3 (.col-7)</div>
    <div class="col">2 de 3 (.col)</div>
    <div class="col">3 de 3 (.col)</div>
  </div>
  <div class="row">
    <div class="col-7">1 de 4 (.col-7)</div>
    <div class="col">2 de 4 (.col)</div>
    <div class="col">3 de 4 (.col)</div>
    <div class="col">4 de 4 (.col)</div>
  </div>
</div>

<!--SOLO PARA MAQUETAR EL CÓDIGO ANTERIOR-->
<style type="text/css">
  .ejemplo .col,
  .ejemplo .col-7 {
    background: #FDE4C7;
    padding: 1rem;
    margin: 0.5rem;
  }
</style>
