<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Apellidos">
    </div>
  </div>
</form>

<p class="pt-4">En lugar de la clase <b>.row</b> se puede la clase <b>.form-row</b>, que es una variación de la retícula estándar de Bootstrap que reduce los espacios entre columnas para realizar formularios más compactos.</p>

<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Apellidos">
    </div>
  </div>
</form>
