<div class="card">
  <div class="card-header small">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href=""><i class="fas fa-user"></i> <strong>MIS RECURSOS</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><i class=" fas fa-calendar-alt"></i> <strong>PLANNING</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href=""><i class="fas fa-lock"></i> <strong>PERMISOS</strong></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Recursos asignados</h5>
    <p class="card-text">Pulse en el icono o en código para descargar el recibí.</p>
    <table class="table table-striped table-sm" style="width:100%">
      <thead>
        <tr>
          <th scope="col" class="text-center" colspan="2">Id</th>
          <th scope="col" >Marca</th>
          <th scope="col" >Modelo</th>
          <th scope="col" >Código</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#36521"><i class="fas fa-file-signature"></i></a>
          </td>
          <td align="right">22583</td>
          <td>HP</td>
          <td>250 G6</td>
          <td><a href="#">CND8080WLW</a></td>
        </tr>
        <tr>
          <td><a href="#35293"><i class="fas fa-file-signature"></i></a></td>
          <td align="right">17540</td>
          <td>Asus</td>
          <td>VP228</td>
          <td><a href="#">HALMTF207007</a></td>
        </tr>
        <tr>
          <td><a href="#"><i class="fas fa-file-signature"></i></a>
          </td>
          <td align="right">22388</td>
          <td>HP</td>
          <td>KEYBOARD K1500</td>
          <td><a href="#">7CH8164902</a></td>
        </tr>
        <tr>
          <td><a href="#"><i class="fas fa-file-signature"></i></a>
          </td>
          <td align="right">16673</td>
          <td>ISPIRE</td>
          <td>PORTATILES</td>
          <td><a href="#">201803201719</a></td>
        </tr>
        <tr>
          <td><a href="#"><i class="fas fa-file-signature"></i></a>
          </td>
          <td align="right">22720</td>
          <td>HP</td>
          <td>X900</td>
          <td><a href="#">7CH747VX9</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
