<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Usuario/Email *</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contraseña *</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress">Dirección *</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Dirección (segunda línea)</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, bajo o planta">
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputZip">CP *</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Ciudad *</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Provincia *</label>
      <select id="inputState" class="form-control">
        <option selected>Selecciona</option>
        <option>...</option>
      </select>
    </div>

  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Acepto el <a href="#">Aviso Legal</a>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
