<!-- TopNav  -->
<nav class="navbar navbar-expand bg-primary navbar-dark shadow-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link font-weight-bold" href="#">SAJP</a></li>
        <li class="nav-item input-group pt-2 ">

          <select class="form-control form-control-sm" id="inputGroupSelect01">
            <option value="0" selected>Inicio</option>
            <option value="1">Clientes</option>
            <option value="2">Información de Interés</option>
            <option value="3">Jornadas y Cursos</option>
          </select>
        </li>
        <li class="nav-item"> <a class="nav-link" href="#">Opción</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- /TopNav  -->