<div class="card">
  <div class="card-header tabs">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href=""><i class="fas fa-user"></i> <strong>Mis Datos</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><i class="fas fa-calendar-alt"></i> <strong>Agenda</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href=""><i class="fas fa-lock"></i> <strong>Permisos</strong></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Luis Miguel Martín Sánchez</h5>
    <p class="card-text"><strong>DATOS PERSONALES</strong></p>
    <ul>
      <li>Nacimiento: <strong>30-03-1976</strong></li>
      <li>Localidad: <strong>Badajoz</strong></li>
      <li>País: <strong>España</strong></li>
    </ul>
    <div style="text-align:right;">
      <button class="btn btn-Cancelar">Aceptar</button> <button class="btn btn-primary">Modificar</button>
    </div>
  </div>
</div>
