<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalGrande">
  Modal grande
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalPequena">
  Modal pequeña
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentrada">
  Modal centrada
</button>


<!-- MODAL GRANDE -->
<div class="modal fade" id="exampleModalGrande" tabindex="-1" role="dialog" aria-labelledby="exampleModalGrandeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalGrandeLabel">Modal grande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenido de la ventana...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PEQUEÑA -->
<div class="modal fade" id="exampleModalPequena" tabindex="-1" role="dialog" aria-labelledby="exampleModalPequenaLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalPequenaLabel">Modal pequeña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenido de la ventana...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CENTRADA -->
<div class="modal fade" id="exampleModalCentrada" tabindex="-1" role="dialog" aria-labelledby="exampleModalCentradaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCentradaLabel">Modal centrada verticalmente</h5>
      </div>
      <div class="modal-body">
        Contenido de la ventana...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
