<ul class="nav nav-tabs nav-fill">
  <li class="nav-item"><a href="" class="active nav-link"><b>Uno</b></a></li>
  <li class="nav-item"><a href="" class="nav-link"><b>Dos</b></a> </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Tres</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Enlace 1</a>
      <a class="dropdown-item" href="#">Enlace 2</a>
      <a class="dropdown-item" href="#">Enlace 3</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Enlace 4</a>
    </div>
  </li>
</ul>