<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Correo electrónico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@preving.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña" value="12345">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Observaciones</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
