<div class="row">
  <div class="col">
    <p><strong>CASILLAS - Permite marcar últiples opciones:</strong></p>
    <!-- CHECKBOXES -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
      <label class="form-check-label" for="defaultCheck1">
        Casilla marcada por defecto
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck2">
        Casilla normal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
      <label class="form-check-label" for="defaultCheck3">
        Casilla deshabilitada
      </label>
    </div>
  </div>

  <div class="col">
    <p><strong>OPCIONES - Son excluyentes entre si:</strong></p>
    <!-- RADIO BUTTONS -->
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Opción marcada por defecto
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Opción normal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadios3">
        Opción deshabilitada
      </label>
    </div>
  </div>

</div>
