<!-- Código de la tabla -->
<table class="table table-striped table-sm" style="width:100%">
  <thead>
    <tr class="bg-primary text-white">
      <th scope="col">ID</th>
      <th scope="col">Documento</th>
      <th scope="col">Tipo</th>
      <th scope="col">Usuario</th>
      <th scope="col" class="text-right">Fecha</th>
      <th scope="col" class="text-center">Visible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td>Ficha</td>
      <td>Luis Miguel Martín</td>
      <td class="text-right">21-10-2018</td>
      <td class="text-center">Sí</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Phasellus lobortis viverra nulla, et semper eros ultrices a. </td>
      <td>Ficha</td>
      <td>Luis Miguel Martín</td>
      <td class="text-right">21-10-2018</td>
      <td class="text-center">Sí</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Morbi eget mauris eu ipsum porttitor ullamcorper.</td>
      <td>Ficha</td>
      <td>Luis Miguel Martín</td>
      <td class="text-right">21-10-2018</td>
      <td class="text-center">Sí</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Nam sodales sit amet velit a consequat. </td>
      <td>Ficha</td>
      <td>Luis Miguel Martín</td>
      <td class="text-right">21-10-2018</td>
      <td class="text-center">Sí</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Sed iaculis gravida lectus, sed posuere quam bibendum vitae.</td>
      <td>Ficha</td>
      <td>Luis Miguel Martín</td>
      <td class="text-right">21-10-2018</td>
      <td class="text-center">Sí</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="bg-primary text-white">
      <th scope="col">ID</th>
      <th scope="col">Documento</th>
      <th scope="col">Tipo</th>
      <th scope="col">Usuario</th>
      <th scope="col" class="text-right">Fecha</th>
      <th scope="col" class="text-center">Visible</th>
    </tr>
  </tfoot>
</table>