      <div class="card">
          <div class="card-header">
            <!-- NavSection-->
            <!-- Aún cuando no haya ningún elemento debe estar para el espaciado vertical-->
            <!--<ul class="nav justify-content-end w-50 float-right">
              <li class="nav-item">
                <a class="nav-link" href="#">sd</a>
              </li>
            </ul>-->
            <!-- /NavSection-->
            <!-- TitleSection-->
            <h5 class="py-3 mb-0">Clientes / Búsqueda de Clientes</h5>
            <!-- /TitleSection-->
          </div>
          <div class="card-body">
            <!-- Buscador -->
            <div class="row">
              <div class="col-md-12">
                <p class="text-center"><b>Puede filtrar el listado buscando por nombre, NIF/CIF o identficador</b></p>
              </div>
            </div>
            <form class="row">
              <div class="col-md-8 offset-md-2">
                <div class="form-inline form-row">
                  <div class="col-9">
                    <input type="text" class="form-control" style="width:100%" id="buscadorClientes" placeholder="Nombre, NIF/CIF o ID cliente">
                  </div>
                  <div class="col-3">
                      <button type="submit" class="btn btn-primary" style="width:100%"><i class="fas fa-filter"></i> Filtrar</button>                  </div>
                </div>
              </div>
            </form>
                <!-- /Buscador -->
              </div>
            </div>


            <div class="p-5">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <!-- NavSection-->
                        <!-- Aún cuando no haya ningún elemento debe estar para el espaciado vertical-->
                        <ul class="nav justify-content-end w-50 float-right">
                          <li class="nav-item">
                            <a class="nav-link" href="#">&nbsp;</a>
                          </li>
                        </ul>
                        <!-- /NavSection-->
                        <!-- TitleSection-->
                        <h5 class="w-50 pt-3">Clientes / Búsqueda de Clientes</h5>
                        <!-- /TitleSection-->
                      </div>
                      <div class="card-body">
                        <!-- Buscador -->
                        <div class="row">
                          <div class="col-md-12">
                            <p class="text-center"><b>Puede filtrar el listado buscando por nombre, NIF/CIF o identficador</b></p>
                          </div>
                        </div>
                        <form class="row">
                          <div class="col-md-6 offset-md-3">
                            <div class="form-check form-check-inline pb-4">
                              <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes1" value="clientesActivos" checked="checked">
                              <label class="form-check-label" for="filterClientes1">Clientes Activos</label>
                            </div>
                            <div class="form-check form-check-inline pb-4">
                              <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes2" value="clientesBaja">
                              <label class="form-check-label" for="filterClientes2">Clientes de Baja</label>
                            </div>
                            <div class="form-check form-check-inline pb-4">
                              <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes3" value="clientesTodos">
                              <label class="form-check-label" for="filterClientes3">Todos los clientes</label>
                            </div>
                            <div class="form-inline form-row">
                              <div class="col-9">
                                <input type="text" class="form-control" style="width:100%" id="buscadorClientes" placeholder="Nombre, NIF/CIF o ID cliente">
                              </div>
                              <div class="col-3">
                                <button type="submit" class="btn btn-info" style="width:100%"><i class="fas fa-filter"></i> Filtrar</button>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col">
                                <div class="form-check form-check-inline pb-4">
                                  <input class="form-check-input" type="radio" name="filterConsultas" id="fiterConsultas1" value="consultasTodas" checked="checked">
                                  <label class="form-check-label" for="fiterConsultas1">Todos</label>
                                </div>
                                <div class="form-check form-check-inline pb-4">
                                  <input class="form-check-input" type="radio" name="filterConsultas" id="finterConsultas2" value="consultasAbiertas">
                                  <label class="form-check-label" for="finterConsultas2">Con consultas abiertas</label>
                                </div>
                                <div class="form-check form-check-inline pb-4">
                                  <input class="form-check-input" type="radio" name="filterConsultas" id="finterConsultas3" value="consultasCerradas">
                                  <label class="form-check-label" for="finterConsultas3">Sin consultas abiertas</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                            <!-- /Buscador -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
